name: CI-Build

on:
  push:
    branches: [ "cicd-playground" ]
  # pull_request:
  #   branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: setup
      run: mkdir bin
    - name: make
      run: make
    - name: test
      run: ./bin/nn_main 
